services:
  mysql:
    image: mysql:8.0
    container_name: mysql_db_container_hdas_blog
    restart: always
    env_file: ../.env.development
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  mailhog:
    image: mailhog/mailhog:v1.0.1
    ports:
      - "1025:1025"
      - "8025:8025"
    restart: unless-stopped

volumes:
  db_data:
